.time-till-bed {
  text-align: center;
  font-size: 20px;
  strong {
    font-size: 30px;
  }
}

.alarm-display * {
  font-weight: bold;
  text-align: center;

  .wake {
    font-size: 50px;
    color: #f7e58d;
  }

  .sleep {
    font-size: 50px;
    color: #99b1fe;
  }
}
